[Unit]
Description=Bot InfoLoker Karawang Auto Apply
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/bot-infolokerkarawang
ExecStart=/home/ubuntu/bot-infolokerkarawang/.venv/bin/python /home/ubuntu/bot-infolokerkarawang/auto_apply.py
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bot-infoloker

[Install]
WantedBy=multi-user.target
